nav {
    padding-left: 40px;
    padding-right: 40px;
}

body {
    margin: 0;
    background-color: rgb(212, 212, 212);
}

header {
    display: flex;
}

header .long {
    padding-left: 70rem;
    text-decoration: none;
    display: flex;
}

.search input {
    width: 200px;
    height: 0px;
    margin: 1.5rem 0rem;
    margin-left: 5rem;
    padding: 1rem 0rem;
    position: relative;
    border: solid 1px silver;
    outline: none;
    border-radius: 30px;
    font-size: 18px;
    left: 10%;
}

.btn {
    padding: 10px;
    top: 7.9%;
    position: absolute;
    width: 200%;
    height: 5%;
    line-height: 10%;
    background-color: rgb(123, 129, 129);
    border-radius: 100%;
}

.logo {
    display: flex;
    padding: 0rem, 0rem;
    padding-right: 13rem;
    margin: 0;
}

.menu {
    font: bold 18px verdana, sans-serif;
    background-color: rgb(2, 113, 168);
    text-align: center;
    border-radius: 0.5rem;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    padding: 30px;
    display: block;
}

.menu ul li a:hover {
    background-color: rgb(123, 129, 129);
    padding: 30px;
}

section {
    text-decoration: none;
    display: flex;
    text-align: center;
    padding-left: 100px;
}

section a {
    text-decoration: none;
}

article {
    text-decoration: none;
    position: relative;
    text-align: center;
    background-color: aliceblue;
    border-radius: 0.5rem;
    margin: 0.5rem 0.3rem;
    padding: 0.3rem 0.3rem 0.2rem;
    font: 16px verdana, sans-serif;
}

p .descripcion {
    text-decoration: none;
}

.post {
    text-decoration: none;
    width: 250px;
}

footer ul {
    display: inline-block;
    margin-top: 0;
    padding-top: 0;
    font: bold 12px verdana, serif;
    padding-bottom: 4rem;
    text-decoration: none;
}

footer h1 {
    font: bold 25px verdana, sans-serif;
}

footer ul :hover {
    background-color: rgb(123, 129, 129);
    padding: 2px;
}

footer {
    margin-top: 50vh;
    background-color: rgb(2, 113, 168);
    padding: 1.5rem 0rem;
    padding-bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font: 14px verdana, sans-serif;
}

footer .comienzo {
    float: right;
}

footer .comienzo:hover {
    color: rgb(57, 250, 250);
}

footer .p {
    background-color: rgb(145, 143, 143);
    padding: 10px 0px;
    margin: 0;
    text-align: center;
    color: black;
    font: bold;
    font: 12px verdana, sans-serif;
}

article a {
    text-decoration: none;
    font: 12px verdana, sans-serif;
    color: black;
}

h1 {
    margin-top: 0;
}